@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --offblack: #050505;
  --darkerblue: #004FFF;
  --lighterblue: #31AFD4;
  --darkerred: #902D41;
  --rosepink: #FF007F;
  --line: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: var(--offblack);
}

.para-bold {
  font-weight: 600;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Hammersmith One', sans-serif;
}

p, li, a, button {
  font-family: 'Roboto', sans-serif;
}

.redButton {
  color: white;
  background-color: var(--darkerred);
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--darkerred);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #0000001A;
}

.redButton:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 50px #0000001A;
  color: white;
  background-color: var(--offblack);
}







/* Header */
header {
  border-bottom: 1px solid var(--line);
}

header .width-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  color: var(--darkerblue);
}

header a {
  color: var(--offblack);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 5px solid white;
}

header a:hover, header .active {
  color: var(--offblack);
  border-bottom: 5px solid var(--darkerred);
}

header .navbar-nav {
  display: flex;
  flex-direction: row;
}

header #offcanvas-nav .navbar-nav {
  display: flex;
  flex-direction: column;
}

header #offcanvas-nav .navbar-nav a {
  font-size: 20px;
}

#full-navbar {
  display: block;
}

#hamburger-button {
  display: none;
}















/* Main (general) */
h1 {
  font-size: 30px !important;
  font-weight: 600 !important; 
}

h2 {
  font-size: 25px !important;
}

.width-control {
  width: 80%;
  margin: 0 auto;
}








/* Home page */
#top-fold {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.home-section {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}











/* Games page */
.game {
  color: black; 
  text-decoration: none;
  box-shadow: 0px 0px 10px #0000001A;
  border-radius: 3px;
  display: flex;
  height: 200px;
}

.game:hover {
  color: black;
  box-shadow: 0px 0px 30px #0000001A;
}

.game:hover .game-name {
  text-decoration: underline;
}

.game-img-section {
  width: 200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-img {
  height: 100%;
}

.game-text-section {
  padding-left: 20px;
}

.game-name {
  font-size: 25px;
}

.game-descr {

}

.game-tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.game-tags li {
  background-color: var(--rosepink);
  color: white;
  font-weight: 600;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 5px;
}

#game-display-section {
  display: none;
}

#game-display {
  width: 100%;
  height: 80vh;
}

.back-button {
  color: black;
  text-decoration: none;
}

.back-button:hover {
  color: black;
  text-decoration: underline;
}








/* About page */
#profile-section {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

#profile-section a {
  margin-left: 15px;
  box-shadow: 0px 0px 10px #0000001A;
}

#profile-section a:hover {
  box-shadow: 0px 0px 50px #0000001A;
}

#profile-section a img {
  width: 40px;
}










/* Contact page */
#contact-page-width > * {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#error-message { /* When visible, flex */
  display: none;
  position: relative;
  background-color: #FDF8F6;
  border: 3px solid red;
  border-radius: 5px;
}

#success-message { /* When visible, flex */
  display: none;
  position: relative;
  background-color: #F2FBFB;
  border: 3px solid green;
  border-radius: 5px;
}

#close-button-error, #close-button-success {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

form {
  border-radius: 3px;
  box-shadow: 0px 0px 10px #0000001A;
  padding: 30px 50px;
}

label {
  margin-bottom: 10px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 70% !important;
  font-family: 'Roboto', sans-serif;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(49, 175, 212, .25) !important;
}

small {
  color: #7A7A7A;
}

form p {
  display: none;
  color: red;
  padding: 0;
  margin: 5px 0;
}










/* Footer */
footer {
  font-size: 15px;
  border-top: 1px solid var(--line);
  background-color: var(--offblack);
  color: white;
}

footer .logo {
  font-size: 25px;
  color: var(--lighterblue)
}














/* Media queries */
@media only screen and (max-width: 800px) {

  /* Header */
  #full-navbar {
    display: none;
  }
  
  #hamburger-button {
    display: block;
  }
}